<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/badminton.css' %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/badminton.js' %}"></script>
    {% if game_form %}
        {{ game_form.media }}
    {% endif %}
    <title>GTC Badminton</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> GTC Badminton </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user" style="margin-right: 5px" aria-hidden="true"></span>
                            User settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/update_password/">Update password</a></li>
                            <li><a href="/edit_profile/">Edit profile</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cd" style="margin-right: 5px" aria-hidden="true"></span>
                             Games
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/upcoming/">Upcoming games</a></li>
                            <li><a href="/past_games/">Past games</a></li>
                            <li><a href="/create_game/">New game</a></li>
                            <li><a href="/manage_games/">Manage games</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="hidden-sm hidden-xs navbar-text"> Hello, {{ user.first_name }}</li>
                    <li>
                        <a href="/logout/">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            Logout
                        </a></li>
                {% else %}
                    <li><a href="/register/"> Register </a></li>
                    <li><a href="/login/">
                        <span class="glyphicon glyphicon-log-in" style="margin-right: 5px" aria-hidden="true"></span>
                        Login
                    </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container well">
    {% block body_block %} Page not found {% endblock %}
</div>


</body>
</html>