{% extends 'base.html' %}

{% block body_block %}

    {% if just_joined %}
        <div class="alert alert-success alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Thank you.</strong> The player list was updated.
        </div>
    {% endif %}

    <h2>{{ game.name }}</h2>

    <div class="container-fluid">
        <div class="row">
            {% if is_past_game %}
                <div class="alert alert-warning">This is an old game.</div>
            {% else %}
                {% if has_joined %}
                    <div class="alert alert-info">You have joined this game.</div>
                {% elif empty_list %}
                    <div class="alert alert-success">Empty spaces are still available.</div>
                {% else %}
                    <div class="alert alert-warning">This game is full.</div>
                {% endif %}
            {% endif %}
        </div>

        <div class="row">
            <p><button id="toggle-button" class="btn btn-default btn-block small-bottom" data-toggle="collapse" data-target="#location_collapse">
                <span class="glyphicon glyphicon-collapse-down"></span>
                <strong>Club: {{ game.location.name }}</strong>
            </button>
            <div id="location_collapse" class="collapse large-bottom">
                <table class="table">
                    <tr><td class="col-lg-5"><strong>City: </strong></td><td>Glasgow</td></tr>
                    <tr><td><strong>Postcode: </strong></td><td>{{ game.location.postcode }}</td></tr>
                    <tr><td> <strong>Address:</strong></td><td> {{ game.location.street_number }} {{ game.location.street }}</td></tr>
                </table>
            </div>
            </p>
        </div>

        <div class="row">
            <p><button id="toggle-button" class="btn btn-default btn-block small-bottom" data-toggle="collapse"
                       data-target="#details_collapse">
                <span class="glyphicon glyphicon-collapse-down"></span>
                <strong>Game details</strong>
            </button>
            <div id="details_collapse" class="collapse large-bottom">
                <table class="table">
                    <tr><td class="col-lg-5"><strong>Time: </strong></td><td>{{ game.datetime }}</td></tr>
                    <tr><td><strong>Length: </strong></td><td>{{ game.duration }}</td></tr>
                    <tr><td><strong>Contact:</strong></td><td> {{ game.organiser.first_name }} {{ game.organiser.last_name }}</td></tr>
                    <tr><td><strong>Additional details:</strong></td><td>{{ game.description }}</td></tr>
                </table>
            </div>
            </p>
        </div>

        <div class="row">
            <p><button id="toggle-button" class="btn btn-default btn-block small-bottom" data-toggle="collapse"
                       data-target="#players_collapse">
                <span class="glyphicon glyphicon-collapse-down"></span>
                <strong>Players ({{ game.players.all|length }}/{{ game.max_players }})</strong>
            </button>
            <div id="players_collapse" class="collapse large-bottom">
                <table class="table">
                    {% for player in game.players.all %}
                        <tr><td class="col-lg-5"><strong>Name:</strong></td> <td>{{ player.first_name }} {{ player.last_name }}</td></tr>
                    {% endfor %}
                    {% for empty in empty_list %}
                        <tr class="success"><td><strong>Name: </strong></td><td>-</td></tr>
                    {% endfor %}
                </table>
            </div>
            </p>
        </div>


        <div class="row">
            <p>

                <button id="toggle-button" class="btn btn-default btn-block small-bottom" data-toggle="collapse"
                        data-target="#comments_collapse">
                    <span class="glyphicon glyphicon-collapse-down"></span>
                    <strong>Comments</strong>
                </button>


            <div id="comments_collapse" class="collapse large-bottom">

                <table class="table">
                    {% for comment in game.comments.all %}
                        <tr>
                            <td class="col-lg-2"><strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong></td>
                            <td >{{ comment.text }}</td>
                            <td class="col-lg-2">{{comment.timestamp}}</td>
                        </tr>
                    {% endfor %}
                </table>

                <form role="form" class="form-horizontal" id="message_form" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="action_type" value="comment"/>
                    <div class="input-group">
                        <input id="message_text" autocomplete="off" type="text" class="form-control" name="message" value="" size="100"/>
                        <span class="input-group-btn">
                            <input class="btn btn-primary" type="submit" name="submit" value="Send" />
                        </span>
                    </div>
                </form>
            </div>
            </p>
        </div>

        <div class="row">
            <p>
                {% if not is_past_game %}
                    {% if has_joined %}
                        <form action="/game/{{ game.id }}/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action_type" value="remove">
                            <input value="Leave" class="btn btn-danger" type="submit">
                        </form>
                    {% else %}
                        {% if empty_list %}
                            <form action="/game/{{ game.id }}/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action_type" value="add">
                                <input value="Join" class="btn btn-primary" type="submit">
                            </form>
                        {% else %}
                            <div class="alert alert-danger">This game is full.</div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}